spring:
  jpa:
    generate-ddl: 'false'
    database: mysql
    defer-datasource-initialization: true
    properties:
      hibernate:
        use_sql_comments: true
        format_sql: true
    hibernate:
      ddl-auto: none
    open-in-view: false
  thymeleaf:
    cache: false
  datasource:
    url: ENC(Rtxn1UbIfkJRUNIaJluNDrE+iNLvVPkCNhXNkXaPW0BHdlKFv62IQgtJMetDFuxkakqZpcMRqtjGnyH+UL4gvUVMAx3OTBWv7GdwaMUl6nh++P2/lHqGJVP0G322JN8x)
    password: ENC(CZjVz03fSWR42RG0x7i/tZLRfEMBMGka)
    username: ENC(5GLG4AMKGzqc+yc1smgXAA==)
    driver-class-name: com.mysql.cj.jdbc.Driver
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  devtools:
    livereload:
      enabled: true
  servlet:
    multipart:
      enabled: true
      max-request-size: 30MB
      max-file-size: 10MB
logging:
  config: classpath:logback.xml
  level:
    com:
      amazonaws:
        util:
          EC2MetadataUtils: error
#jasypt
jasypt:
  encryptor:
    bean: jasyptStringEncryptor
cloud:
  aws:
    s3:
      bucket: ENC(FTGzO3i7iTDxLEDdQJlkfNrWwAxVv/By)
    stack.auto: false
    region.static: ap-northeast-2
    credentials:
      accessKey: ENC(N9j5dKB5zyxN8P1GNOZLF0O3knZ5csZRLOv2p2vWnzs=)
      secretKey: ENC(w4Uf+DmpExPTKIvIajXPLEZ7lWovWvyVn9gh6yHc5hE/EERKzXfeO7Iz6ip7vXzm7JlA/MsYlME=)
oauth:
  kakao:
    client-id: ENC(3BeQp3mjO4TcqSMXQs0TlkXuWqGR0B2WvXpG5vjd/E/WuTF5CTNrBf14JLODfXOZ)
    client-secret: ENC(GlrSP7Ao9zu8G8TJsStnvcVsUjbsuataTw75y+BZ/xaQXba2UjhDMkcWDrNhDnCR)
    redirect-url: ENC(5L6okmbEA/xEXOKHKQXMPVYfecAkulCcBrtH2JQeBgvNiB9tUZUnz17skd8SqZ9T5bGOUIxmnKI=)
    url:
      auth: https://kauth.kakao.com
      api: https://kapi.kakao.com
secret-key-source: ${SECRET_KEY_SOURCE}
sms-key: ENC(EjM7Vn4YTaBm49u/UbAK6jDJVOUrtKWl+fAqNqepw/U=)
sms-secret-key: ENC(BGLvLtXfkPRBSi93767OjJVJd4KJMR0VmZMjcterwLrzanQHnNSPkNx4sj5PX7vJ)
